.chat-card {
    padding: 16px;
    max-width: 600px;
    min-height: 100vh;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: .3rem auto;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: auto;
}
.chat-card h2{
    margin: 1rem 0;
}

.chat-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 95%;

}
.chat-container::before{
    content: "";
    width: 100%;
    background: rgb(207, 207, 207);
    height: 1px;
}

.response-card {
    background-color: #f1f1f1;
    border-radius: 8px;
    max-height: 400px;
    overflow-y: auto;
    height: 100%;
    min-height: 80%;
}
.response-card::-webkit-scrollbar{
    width: 8px;
    
}
.response-card::-webkit-scrollbar-thumb{
    background-color: rgba(128, 128, 128, 0.473);
    border-radius: 10px;
    
}


.message-bubble {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.ai-response {
    border-left: 4px solid rgb(250, 104, 104);
    text-align: left;
    background: rgb(255, 224, 224);
    padding: .3rem 8px;
    /* width: max-content; */
}
.ai-response::before{
    content: "BrightSpend AI";
    /* font-size: rem; */
    background: rgb(255, 142, 142);
    border-radius: 30px;
    padding: .1rem .5rem;
    margin: 8px 0;
    display: block;
    width: max-content;
}

.my-response {
    border-right: 4px solid rgb(104, 138, 250);;
    text-align: right;
    position: relative;
    min-height: 60px;
    padding: 2rem 8px 8px 0;
    background: rgb(218, 231, 255);
    font-size: 1rem;
    margin: 1rem 0;
}
.my-response::after{
    content: "You";
    position: absolute;
    top: 10px;
    right: 1%;
    width: 20px;
    display: block;
    font-weight: 600;
    font-size: .7rem;
    background: rgb(121, 152, 255);
    border-radius: 30px;
    padding: .1rem .5rem;
}

.loading-bubble {
    text-align: center;
    padding: 8px;
}

.chat-form {
    display: flex;
    gap: 8px;
}
.chat-input{
    width: 90%;
    &:hover{
        outline: var(--border);
    }
}
.chat-button{
    height: 2.8rem;
    width: 20%;
}

.EmptyChatbotDesc{
    align-self: center;
}

@media screen and (max-width:800px) {
    .chat-card {
        display: block;
        margin: 0;
    }
    .chat-card h2{
        margin: .2rem 0;
    }
    
    .chat-container {
        gap: 16px;
        width: 100%;
    }
    
    .response-card {
        padding: 0 !important;
        border-radius: 8px;
        overflow-y: auto;
        
    }
    .response-card::-webkit-scrollbar{
        width: 8px;
        
    }
    .response-card::-webkit-scrollbar-thumb{
        background-color: rgba(128, 128, 128, 0.473);
        border-radius: 10px;
        
    }
    
    
    .message-bubble {
        margin-bottom: 10px;
        padding: 8px;
        border-radius: 4px;
        background-color: #ffffff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    }
    
    .ai-response {
        border-left: 4px solid rgb(250, 104, 104);
        text-align: left;
        background: rgb(255, 224, 224);
        padding: .3rem 8px;
        /* width: max-content; */
    }
    .ai-response::before{
        content: "BrightSpend AI";
        /* font-size: rem; */
        background: rgb(255, 142, 142);
        border-radius: 30px;
        padding: .1rem .5rem;
        margin: 8px 0;
        display: block;
        width: max-content;
    }
    
    .my-response {
        border-right: 4px solid rgb(104, 138, 250);;
        text-align: right;
        position: relative;
        min-height: 60px;
        padding: 2rem 8px 8px 0;
        background: rgb(218, 231, 255);
        font-size: 1rem;
        margin: 1rem 0;
    }
    .my-response::after{
        content: "You";
        position: absolute;
        top: 10px;
        right: 1%;
        width: 20px;
        display: block;
        font-weight: 600;
        font-size: .7rem;
        background: rgb(121, 152, 255);
        border-radius: 30px;
        padding: .1rem .5rem;
    }
    
    .loading-bubble {
        text-align: center;
        padding: 8px;
    }
    
    .chat-form {
        display: flex;
        gap: 8px;
    }
    .chat-input{
        width: 90%;
        &:hover{
            outline: var(--border);
        }
    }
    .chat-button{
        height: 2.8rem;
        width: 20%;
    }
    
    .EmptyChatbotDesc{
        align-self: center;
    }
}