.RegisterComponent{
    height: 100vh;
    display: flex;
    background: var(--background);

}
.RegisterComponent .RegisterWallpaper{
    
    object-fit: contain;
    margin:0;
    height: 100%;

}
.RegisterComponent .RegisterForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background: url("../../assets/blob.png") no-repeat center;
    background-size: cover;
}
.RegisterForm a > img{
    object-fit: contain;
    width: 10rem;
   
}
.RegisterForm form{
    margin : 3% 0 0 0;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1rem
}
.linkAccReg{
    text-align: start;
    margin: 2rem;
    font-size: 1rem;
}
.linkAccReg a{
    color: var(--primary);
}


@media screen and (max-width : 850px) {
    .RegisterComponent .RegisterWallpaper{
        display: none;
    }
    .RegisterForm a > img{
        object-fit: contain;
        width: 9rem;
    }
    .RegisterForm form{
        margin : 10% 0 0 0;
    }
}