@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
 --primary : #000;
 --color : #000;
 --accent : #f0f0f0;
 --background : #f7f7f7;
 --borderRadius: 10px;
 --border:1.5px solid rgba(128, 128, 128, 0.219);
 --success : #EDFDE5;
 --error: rgb(255, 122, 98);
 --font : "Poppins", sans-serif;
 --white :#FFffff;
 --text:#1A1B1B;
 --secondary: #CFCFCF;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}
body{
background-color: var(--background);
}
.btn{
  width: 100%;
  padding: .7rem;
  color: var(--background);
  background-color: var(--color);
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.2s ease-in-out;
  &:hover{
    color: var(--color);
    background-color: var(--background);
    border: 1px solid var(--color);
  }
}


/* SignIn With Google Button */
.GoogleRegister {
  display: flex !important;
  justify-content: center !important; 
  width: 300px !important;    
  margin-top: 1rem; 
}