.CategoryPopPup{

    height: max-content;
    z-index: 3;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.699);
}
.NewCategoryContainer{
    top: 0;
    position: fixed;
    top: 0%;
    left: 105%;
}
.closeNewCategoryBtn{
    position: absolute;
    top: 3%;
    right: 3%;
    font-size: 1.5rem;
}
.EmojiPicker{
    max-width: 500px;
    width: 100%;
    background: inherit !important;
}
.EmojiBtn{
    width: 50px;
    height: 40px;
    font-size: 1.4rem;
}
@media screen and (max-width : 800px) {
    .CategoryPopPup{
        position: absolute;
        top: 2%;
        left: -1%;
        width: 330px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .NewCategoryContainer{
        position: absolute;
        top: 10%;
        left: 0;
        width: 10%;
    }
}