.statistics{
    width:  57%;
    position: fixed;
    justify-self: flex-start;
    /* display: flex; */
    left : 2%;
    /* background-color: #e7e7e7c4 !important; */
    /* top: 0; */
}



@media screen and (min-width: 1380px){
    .statistics {
        width:  65%;
      }
}
@media screen and (max-width : 1280px) {
    .statistics{
        left : 0%;
        width: 100%;
        margin: 0 0 1rem 0;
        position: relative;
    }
}